ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.d-flex {
  display: flex;
}
.d-flex li {
  flex: 0 0 15rem;
}
.f-wrap {
  flex-wrap: wrap;
}
.g1 {
  gap: 1rem;
}

.genre {
  margin: 0 0.25rem;
}
